
  <!-- 메인 이미지 영역 -->
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../static/images/source/Artboard.png" class="mx-auto">
            <div class="container mx-auto">
              <div class="carousel-caption mx-auto text-start">
                <!-- 게임 시작 버튼 -->
                <p class="p-2 text-end mx-auto"><a class="btn btn-lg btn-primary" href="./gameStart">강의 시작하기 ▶</a></p>
              </div>
            </div>
          </div>
      </div>

  <!-- 홍보 대사 영역-->
  <div class="container marketing p-5 album py-5">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg img-center">
        <img src="../../../static/images/source/main_1_little-kid.png" class="mx-auto" width="140" height="140">
        <h3 class="fw-normal p-2 text-white">어린아이도 괜찮아요</h3>
        <p class="px-2 text-white">코딩을 몰라도 배울 수 있어요!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 img-center">
        <img src="../../../static/images/source/main_2_electric-keyboard.png" class="mx-auto" width="140" height="140">
        <h3 class="fw-normal p-2 text-white">놀이로 재미있게 배워요</h3>
        <p class="px-2 text-white">움직이는 놀이로 코딩에 흥미를 가질 수 있어요!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 img-center">
        <img src="../../../static/images/source/main_3_ranking.png" class="mx-auto" width="140" height="140">
        <h3 class="fw-normal p-2 text-white">나의 점수를 기록해요</h3>
        <p class="px-2 text-white">열심히 배우고 자신의 성적을 확인해 보세요!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->