<div class="container">
    <!-- 메인 이미지 영역 -->
      <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../static/images/source/logo_ver2.png" class="mx-auto">
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1 class="text-end" color="#000000">Welcome to Instant-Coding</h1>
                  <p><a class="btn btn-center btn-lg btn-primary" href="./lessons">Game Start</a></p>
                </div>
              </div>
            </div>
        </div>

        <div class="container marketing">
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              <h2 class="fw-normal">어린아이도 괜찮아요</h2>
              <p>코딩을 한번도 접해보지 못한 어린아이들도 영어코딩이 아닌 한국어 코딩으로 배울 수 있어요!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              <h2 class="fw-normal">놀이로 흥미 유발</h2>
              <p>실전연습을 해 보며 코딩 실력을 쑥쑥 키워봐요!</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
              <h2 class="fw-normal">왕초보 맞춤형 수업</h2>
              <p>찰떡같은 설명으로 왕초보도 쉽게 이해할 수 있어요!</p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
</div>