<div class="container">
    <!-- 메인 이미지 영역 -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="mx-auto">
            <img src="./././static/images/source/logo.png" class="mx-auto">
          </div>
          <div class="col-lg-6 col-md-8 mx-auto">
            <!--<h1 class="fw-light">Welcome to Instant Coding!</h1>-->
            <button type="button" class="btn btn-primary btn-lg">Game Start</button>
          </div>
        </div>
      </section>
</div>