<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <!-- 아이콘 -->
  <div class="col-md-1">
    <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="bi me-2" src="../../static/images/source/logo_ver2.png" width="60" height="60" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </div>

  <!-- 메뉴 리스트 -->
  <div class="col-md-8">
    <ul class="nav col-4 col-md-auto mb-2 justify-content-start mb-md-0">
      <li><a href="/" class="nav-link px-1 fs-4 link-secondary text-white">홈</a></li>
      <li>&nbsp;</li>
      <li><a href="./rank" class="nav-link px-1 fs-4 link-secondary text-white">랭킹</a></li>
    </ul>
  </div>

  <div class="col-md-3 text-end">
  <!-- 로그인항목 -->
    {% if is_logined %}
      {{ name }}
      <button type="button" class="btn btn-outline-light me-2" onclick="location.href='./signout'">로그아웃</button>
    {% else %}
      <button type="button" class="btn btn-outline-light me-2" onclick="location.href='./signin'">로그인</button>
      <button type="button" class="btn btn-light" onclick="location.href='./signup'">회원가입</button>
    {% endif %}
  </div>
</header>

