<!doctype html>
<html lang="en">

<head>
    {% include './common/header.html' %}
</head>

<body class="text-center text-light">
    <div class="container row-cols-1">
        {% include './common/nav.html' %}
        <div class="col-md-12 row text-center">
            <h2>랭킹 순위표</h2>
        </div>
        <div class="col-md-12 row mt-5">
            <table class="table text-center text-light">
                <thead>
                    <tr>
                        <th scope="col">순위</th>
                        <th scope="col">이름</th>
                        <th scope="col">점수</th>
                        <th scope="col">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 이쪽에서 pyscript 이용하는게 좋아보일듯?-->
                    <tr>
                        <th scope="row">1</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                </tbody>
            </table>
        </div>
        {% include './common/footer.html' %}
    </div>
</body>
</html>
<script>
    function rankList() {
        $.ajax({
            url:'/rank',
            type:"POST",
            contentType: "application/json; charset=UTF-8",
            dataType:"json",
            complete: function(res) {
                if (res.responseText === 'success') {
                    console.log('랭킹 불러오기 성공')
                    location.href = "/rank";
                } else {
                    alert('서버 응답 오류입니다. 새로고침 해주세요.');
                }
            }
        })
    }
    rankList()
</script>