<!doctype html>
<html lang="en">

<head>
    {% include './common/header.html' %}
</head>

<body class="text-center text-light">
    <div class="container row-cols-1">
        {% include './common/nav.html' %}
        <div class="col-md-12 row text-center">
            <h2>랭킹 순위표</h2>
        </div>
        <div class="col-md-12 row mt-5">
            <table class="table text-center text-light">
                <thead>
                    <tr>
                        <th scope="col">순위</th>
                        <th scope="col">이름</th>
                        <th scope="col">점수</th>
                        <th scope="col">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 1위 -->
                    <tr>
                        <th scope="row">1</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 2위 -->
                    <tr>
                        <th scope="row">2</th>
                        <th>이름</th>z
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 3위 -->
                    <tr>
                        <th scope="row">3</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 4위 -->
                    <tr>
                        <th scope="row">4</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 5위 -->
                    <tr>
                        <th scope="row">5</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 6위 -->
                    <tr>
                        <th scope="row">6</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 7위 -->
                    <tr>
                        <th scope="row">7</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 8위 -->
                    <tr>
                        <th scope="row">8</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 9위 -->
                    <tr>
                        <th scope="row">9</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 10위 -->
                    <tr>
                        <th scope="row">10</th>
                        <th>이름</th>
                        <th>점수</th>
                        <th>날짜</th>
                    </tr>
                </tbody>
            </table>
        </div>
        {% include './common/footer.html' %}
    </div>
</body>

</html>